
h1 {
    margin: 0;
    padding: 25px 0;    
    text-shadow: 3px 3px 1px black;
    font-family: 'Russo One', sans-serif;
    color: white;
    text-align: center;
    font-size: 65px;
}
#animation{
    font-size: 65px;
    
}
img[src]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
html{
    background-color: rgb(252, 240, 79);
}
/* body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
} */